<style>
    /* simple */
    .flip-container {
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -ms-perspective: 1000;
        perspective: 1000;
        -ms-transform: perspective(1000px);
        -moz-transform: perspective(1000px);
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        border: 1px solid #ccc;
    }

        /*
            .flip-container:hover .flipper, .flip-container.hover .flipper, #flip-toggle.flip .flipper {
                -webkit-transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
                -ms-transform: rotateY(180deg);
                transform: rotateY(180deg);
                filter: FlipH;
                -ms-filter: "FlipH";
            }
            */


        /* START: Accommodating for IE */
        .flip-container:hover .back, .flip-container.hover .back {
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            transform: rotateY(0deg);
        }

        .flip-container:hover .front, .flip-container.hover .front {
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }

    /* END: Accommodating for IE */

    .flip-container, .front, .back {
        /*width: 320px;
            height: 427px;*/
        width: 539px;
        height: 323px;
    }

    .flipper {
        -webkit-transition: 0.6s;
        -webkit-transform-style: preserve-3d;
        -ms-transition: 0.6s;
        -moz-transition: 0.6s;
        -moz-transform: perspective(1000px);
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }

    .front, .back {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transition: 0.6s;
        -moz-transform-style: preserve-3d;
        -o-transition: 0.6s;
        -o-transform-style: preserve-3d;
        -ms-transition: 0.6s;
        -ms-transform-style: preserve-3d;
        transition: 0.6s;
        transform-style: preserve-3d;
        position: absolute;
        top: 0;
        left: 0;
    }

    .front {
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        background: lightgreen;
        z-index: 2;
    }

    .back {
        background: lightblue;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    .front .name {
        font-size: 2em;
        display: inline-block;
        background: rgba(33, 33, 33, 0.9);
        color: #f8f8f8;
        font-family: Courier;
        padding: 5px 10px;
        border-radius: 5px;
        bottom: 60px;
        left: 25%;
        position: absolute;
        text-shadow: 0.1em 0.1em 0.05em #333;
        display: none;
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }

    .back-logo {
        position: absolute;
        top: 40px;
        left: 90px;
        /*width: 160px;
            height: 117px;*/
        width: auto;
        height: auto;
        background: url('/img/portfolio4.jpg') 0 0 no-repeat;
    }

    .back-title {
        font-weight: bold;
        color: #00304a;
        position: absolute;
        top: 180px;
        left: 0;
        right: 0;
        text-align: center;
        text-shadow: 0.1em 0.1em 0.05em #acd7e5;
        font-family: Courier;
        font-size: 2em;
    }

    .back p {
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        text-align: center;
        padding: 0 20px;
    }

    /* vertical */
    .vertical.flip-container {
        position: relative;
    }

    .vertical .back {
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

    .vertical.flip-container .flipper {
        -webkit-transform-origin: 100% 213.5px;
        -moz-transform-origin: 100% 213.5px;
        -ms-transform-origin: 100% 213.5px;
        transform-origin: 100% 213.5px;
    }

    /*
            .vertical.flip-container:hover .flipper {
                -webkit-transform: rotateX(-180deg);
                -moz-transform: rotateX(-180deg);
                -ms-transform: rotateX(-180deg);
                transform: rotateX(-180deg);
            }
            */

    /* START: Accommodating for IE */
    .vertical.flip-container:hover .back, .vertical.flip-container.hover .back {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }

    .vertical.flip-container:hover .front, .vertical.flip-container.hover .front {
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
    /* END: Accommodating for IE */
</style>
<br /><br /><br />

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                   {{title}}
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row" >
            <!-- Image Column -->
            <div class="col-sm-6">
                <div class="portfolio-item">
                    <div class="portfolio-image">
                        
                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                               
                                <div class="front" ng-style="{'background-image': 'url({{items1.category | imagefilter}}) 0 0 no-repeat'}">
                                    <span class="name"></span>
                                </div>
                                        <div class="back" style="background:#f8f8f8;">
                                            <div class="back-logo"></div>
                                            <div class="back-title">{{items1.name}}</div>
                                            <p>{{items1.Description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Image Column -->
                    <!-- Project Info Column -->
                    <div class="portfolio-item-description col-sm-6">
                        <h3>Datasets Details</h3>
                        <p>
                            {{items1.description}}
                        </p>
                        
                        <ul class="no-list-style">
                            <li><b>Category:</b> {{items1.category}}</li>
                            <li><b>Owner:</b> {{items1.organization}}</li>
                            <li><b>Price:</b>{{items1.price}}</li>
                            <li><b>Name:</b>{{items1.name}}</li>
                            
                            <!--<li><a ng-click="downloadcsv();" class="btn">Download File</a></li>-->
                        </ul>
                        <a ng-click="cart.addItem(items1.transactionID, items1.name, items1.price, 1,items1.fileUrl,items1.category,items1.description)" class="btn">Add to cart</a>
                    </div>
                    <!-- End Project Info Column -->
                </div>
                <!-- Related Projects -->
               
                <!-- End Related Projects -->
            </div>
        </div>
