<form role="form">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-4">
            <h2 class="form-login-heading">Forgot Password</h2>
            <input type="email" class="form-control" placeholder="Please enter email address" data-ng-model="forgotPassword.email" required autofocus>
            <div><button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="forgetpassword()">Send</button></div>
            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
        </div>
        <div class="col-md-4">
           
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</form>