<form>
    <div class="col-md-4">
        <h2 class="form-login-heading">Reset Password</h2>
        <input type="email" class="form-control" placeholder="Email" data-ng-model="resetPasswords.email" required autofocus>
        <input type="password" class="form-control" placeholder="Password" data-ng-model="resetPasswords.password" required>
        <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="resetPasswords.confirmpassword" required>
        <div class="checkbox">
           
        </div>
        <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="resetPassword()">Reset</button>
        <div data-ng-hide="message == ''" class="alert alert-danger">
            {{message}}
        </div>
    </div>
</form>