

<!--<ul class="nav main-menu">
    <li>
       
            
        <a href="#/dashboard" class="active ajax-link">
            <i class="fa fa-dashboard"></i>
            <span class="hidden-xs">Dashboard</span>
        </a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle">
            <i class="fa fa-bar-chart-o"></i>
            <span class="hidden-xs">Charts</span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="ajax-link" href="ajax/charts_xcharts.html">xCharts</a></li>
            <li><a class="ajax-link" href="ajax/charts_flot.html">Flot Charts</a></li>
            <li><a class="ajax-link" href="ajax/charts_google.html">Google Charts</a></li>
            <li><a class="ajax-link" href="ajax/charts_morris.html">Morris Charts</a></li>
            <li><a class="ajax-link" href="ajax/charts_coindesk.html">CoinDesk realtime</a></li>

        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle">
            <i class="fa fa-list"></i>
            <span class="hidden-xs">Pages</span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="ajax/page_login.html">Login</a></li>
            <li><a href="ajax/page_register.html">Register</a></li>
            <li><a id="locked-screen" class="submenu" href="ajax/page_locked.html">Locked Screen</a></li>
            <li><a class="ajax-link" href="ajax/page_contacts.html">Contacts</a></li>
            <li><a class="ajax-link" href="ajax/page_feed.html">Feed</a></li>
            <li><a class="ajax-link add-full" href="ajax/page_messages.html">Messages</a></li>
            <li><a class="ajax-link" href="ajax/page_pricing.html">Pricing</a></li>
            <li><a class="ajax-link" href="ajax/page_invoice.html">Invoice</a></li>
            <li><a class="ajax-link" href="ajax/page_search.html">Search Results</a></li>
            <li><a class="ajax-link" href="ajax/page_404.html">Error 404</a></li>
            <li><a href="ajax/page_500.html">Error 500</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle">
            <i class="fa fa-picture-o"></i>
            <span class="hidden-xs">Gallery</span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="ajax-link" href="#/gallery">Recent Uploads</a></li>
            <li><a class="ajax-link" href="ajax/gallery_flickr.html">Flickr Gallery</a></li>
        </ul>
    </li>

    <li>
        <a class="ajax-link" href="ajax/calendar.html">
            <i class="fa fa-calendar"></i>
            <span class="hidden-xs">Calendar</span>
        </a>
    </li>


    
</ul>-->

<nav class='sidebar sidebar-menu-collapsed'>
    <a href='#' id='justify-icon'>
        <span class='glyphicon glyphicon-align-justify'></span>
    </a>
    <ul>
        <li class='active'>
            <a class='expandable' href='#/dashboard' title='Dashboard'>
                <span class='glyphicon glyphicon-home collapsed-element'></span>
                <span class='expanded-element'>Dashboard</span>
            </a>
        </li>
        <li>
            <a class='expandable' href='#/APIs' title='APIs'>
                <span class='glyphicon glyphicon-wrench collapsed-element'></span>
                <span class='expanded-element'>APIs</span>
            </a>
        </li>
        <li>
            <a class='expandable' href='#/settings' title='Settings'>
                <span class='glyphicon glyphicon-cog collapsed-element'></span>
                <span class='expanded-element'>Settings</span>
            </a>
        </li>
        <li>
            <a class='expandable' href='#/account' title='Account'>
                <span class='glyphicon glyphicon-user collapsed-element'></span>
                <span class='expanded-element'>Account</span>
            </a>
        </li>
    </ul>
    <a href='#' id='logout-icon' title='Logout'>
        <span class='glyphicon glyphicon-off'></span>
    </a>
</nav>