<br /><br /><br />
<div class=" row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
        <form class="form-login" role="form">
            <!--ng-submit="signUp()"-->
            <h2 class="form-login-heading">Sign up</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" ng-minlength="7" data-ng-model="registration.UserName" required autofocus>
                <span style="color:red" ng-show="$error.minlength">

                    Your Name Should Contain Atleast 3 Characters
                </span>
                <!--<div ng-messages="registration.UserName.$error" ng-messages-include="messages.html"></div>-->
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Organization" data-ng-model="registration.Organization" required autofocus>
                <!--<div ng-messages="registration.Organization.$error" ng-messages-include="messages.html"></div>-->
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name" data-ng-model="registration.firstName" required autofocus>
                <!--<div ng-messages="registration.firstName.$error" ng-messages-include="messages.html"></div>-->
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name" data-ng-model="registration.lastName" required autofocus>
                <!--<div ng-messages="registration.lastName.$error" ng-messages-include="messages.html"></div>-->
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.password" required>
                <!--<div ng-messages="registration.password.$error" ng-messages-include="messages.html"></div>-->
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required>
                <!--<div ng-messages="registration.confirmPassword.$error" ng-messages-include="messages.html"></div>-->
            </div>
            <!--<div vc-recaptcha
             theme="'light'"
             key="model.key"
             on-create="setWidgetId(widgetId)"
             on-success="setResponse(response)"
             on-expire="cbExpiration()"></div>-->
            <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()" v-busy="isBusy" v-busy-label="please wait ..." v-pressable>Submit</button>
            <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{message}}
            </div>
        </form>
    </div>
    <div class="col-xs-3"></div>
</div>
<br /><br />
