<!DOCTYPE html>
<html lang="en" data-ng-app="damorel">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Damorel Coutoure">
    <meta name="author" content="Oduwole Oluwasegun | oduwoleoluwaseggun.com">
    <meta name="keywords" content="">

    <title>
        Damorel Coutore
    </title>
    <!--<base href="/web/">-->
    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <style>
        .avatar {
            margin: 25px auto;
        }
        
        .avatar {
            margin: 25px auto;
        }
        
        .slim-view {
            max-width: 310px;
            margin: 15px auto;
        }
        
        .login .img-logo {
            margin: 15px auto;
            max-width: 275px;
        }
        
        .avatar img {
            max-height: 100px;
        }
        
        .img-circle {
            border-radius: 50%;
        }
    </style>
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body ng-controller="homeController">

    <!-- *** TOPBAR ***
    _________________________________________________________ -->
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
                <a href="#/" class="btn btn-success btn-sm" data-animate-hover="shake">Offer of the day</a> <a href="#/">Get flat 35% off on orders over $50!</a>
            </div>
            <!--<p>Count numbers: <output id="result"></output></p>-->
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
                    <li data-ng-hide="authentication.isAuth">
                        <a data-toggle="modal" data-target="#login-modal">Login</a>
                    </li>
                    <li data-ng-hide="authentication.isAuth">
                        <a href="#/register">Register</a>
                    </li>
                    <li data-ng-hide="!authentication.isAuth">
                        <a href="" data-ng-click="logOut()">
                            <i class="fa fa-power-off"></i>
                            <span class="hidden-sm text">Logout</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/contact">Contact</a>
                    </li>
                    <li>
                        <a href="javascript:;">Recently viewed</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Login">Customer login</h4>
                    </div>
                    <div class="modal-body" ng-controller="loginController">
                        <div class="form-group">
                            <input type="text" class="form-control" id="email-modal" placeholder="email" data-ng-model="loginData.userName" required autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password-modal" placeholder="Password" data-ng-model="loginData.password" required>
                        </div>

                        <p class="text-center">
                            <button class="btn btn-primary"><i class="fa fa-sign-in" data-ng-click="login()" v-busy="isBusy" v-busy-label="please wait ..." v-pressable></i> Log in</button>
                        </p>

                        <p class="text-center text-muted"><a href="#/forgotpassword">Forgot Password</a></p>

                        <p class="text-center text-muted">Not registered yet?</p>
                        <p class="text-center text-muted"><a href="#/register"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>
                        <div data-ng-hide="message == ''" class="alert alert-danger">
                            {{message}}
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- *** TOP BAR END *** -->
    <!-- *** NAVBAR ***
    _________________________________________________________ -->

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="./#/" data-animate-hover="bounce">
                    <img src="img/logo.png" alt="Obaju logo" class="hidden-xs">
                    <img src="img/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Damorel </span>
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                    <a class="btn btn-default navbar-toggle" href="#/cart">
                        <i class="fa fa-shopping-cart"></i> <span class="hidden-xs">{{cart.getTotalCount()}} items in cart</span>
                    </a>
                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
                    <li class="active">
                        <a href="./#/">Home</a>
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Men <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>Clothing</h5>
                                            <ul>
                                                <li>
                                                    <a href="#/category">T-shirts</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Shirts</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Pants</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Accessories</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Shoes</h5>
                                            <ul>
                                                <li>
                                                    <a href="#/category">Trainers</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Sandals</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Hiking shoes</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Casual</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Accessories</h5>
                                            <ul>
                                                <li>
                                                    <a href="#/category">Trainers</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Sandals</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Hiking shoes</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Casual</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Hiking shoes</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Casual</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Featured</h5>
                                            <ul>
                                                <li>
                                                    <a href="#/category">Trainers</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Sandals</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Hiking shoes</a>
                                                </li>
                                            </ul>
                                            <h5>Looks and trends</h5>
                                            <ul>
                                                <li>
                                                    <a href="#/category">Trainers</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Sandals</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Hiking shoes</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown yamm-fw">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Ladies <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>Clothing</h5>
                                            <ul>
                                                <li>
                                                    <a href="#/category">T-shirts</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Shirts</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Pants</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Accessories</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Shoes</h5>
                                            <ul>
                                                <li>
                                                    <a href="#/category">Trainers</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Sandals</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Hiking shoes</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Casual</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Accessories</h5>
                                            <ul>
                                                <li>
                                                    <a href="#/category">Trainers</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Sandals</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Hiking shoes</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Casual</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Hiking shoes</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Casual</a>
                                                </li>
                                            </ul>
                                            <h5>Looks and trends</h5>
                                            <ul>
                                                <li>
                                                    <a href="#/category">Trainers</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Sandals</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Hiking shoes</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="banner">
                                                <a href="javascript:;">
                                                    <img src="img/banner.jpg" class="img img-responsive" alt="">
                                                </a>
                                            </div>
                                            <div class="banner">
                                                <a href="javascript:;">
                                                    <img src="img/banner2.jpg" class="img img-responsive" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>

                    <!--<li class="dropdown yamm-fw">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Template <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>Shop</h5>
                                            <ul>
                                                <li>
                                                    <a href="./#/">Homepage</a>
                                                </li>
                                                <li>
                                                    <a href="#/category">Category - sidebar left</a>
                                                </li>
                                                <li>
                                                    <a href="category-right.html">Category - sidebar right</a>
                                                </li>
                                                <li>
                                                    <a href="category-full.html">Category - full width</a>
                                                </li>
                                                <li>
                                                    <a href="#/details">Product detail</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>User</h5>
                                            <ul>
                                                <li>
                                                    <a href="register.html">Register / login</a>
                                                </li>
                                                <li>
                                                    <a href="customer-orders.html">Orders history</a>
                                                </li>
                                                <li>
                                                    <a href="customer-order.html">Order history detail</a>
                                                </li>
                                                <li>
                                                    <a href="customer-wishlist.html">Wishlist</a>
                                                </li>
                                                <li>
                                                    <a href="customer-account.html">Customer account / change password</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Order process</h5>
                                            <ul>
                                                <li>
                                                    <a href="#/cart">Shopping cart</a>
                                                </li>
                                                <li>
                                                    <a href="checkout1.html">Checkout - step 1</a>
                                                </li>
                                                <li>
                                                    <a href="checkout2.html">Checkout - step 2</a>
                                                </li>
                                                <li>
                                                    <a href="checkout3.html">Checkout - step 3</a>
                                                </li>
                                                <li>
                                                    <a href="checkout4.html">Checkout - step 4</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Pages and blog</h5>
                                            <ul>
                                                <li>
                                                    <a href="#/blog">Blog listing</a>
                                                </li>
                                                <li>
                                                    <a href="#/blogpost">Blog Post</a>
                                                </li>
                                                <li>
                                                    <a href="#/faq">FAQ</a>
                                                </li>
                                                <li>
                                                    <a href="text.html">Text page</a>
                                                </li>
                                                <li>
                                                    <a href="text-right.html">Text page - right sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="404.html">404 page</a>
                                                </li>
                                                <li>
                                                    <a href="contact.html">Contact</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                            </li>
                        </ul>
                    </li> -->
                    <!-- /.yamm-content -->
                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="navbar-buttons">

                <div class="navbar-collapse collapse right" id="basket-overview">
                    <a href="#/cart" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">{{cart.getTotalCount()}} items in cart</span></a>
                </div>
                <!--/.nav-collapse -->

                <div class="navbar-collapse collapse right" id="search-not-mobile">
                    <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                </div>

            </div>

            <div class="collapse clearfix" id="search">

                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">

                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

                        </span>
                    </div>
                </form>

            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#navbar -->
    <!-- *** NAVBAR END *** -->


    <div data-ng-view="" class="shuffle-animation"></div>


    <!-- /#content -->
    <!-- *** FOOTER ***
        _________________________________________________________ -->
    <div id="footer" data-animate="fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h4>Pages</h4>

                    <ul>
                        <li>
                            <a href="#/aboutus">About us</a>
                        </li>
                        <li>
                            <a href="text.html">Terms and conditions</a>
                        </li>
                        <li>
                            <a href="#/faq">FAQ</a>
                        </li>
                        <li>
                            <a href="#/contact">Contact us</a>
                        </li>
                    </ul>

                    <hr>

                    <h4>User section</h4>

                    <ul>
                        <li>
                            <a href="javascript:;" data-toggle="modal" data-target="#login-modal">Login</a>
                        </li>
                        <li>
                            <a href="#/register">Regiter</a>
                        </li>
                    </ul>

                    <hr class="hidden-md hidden-lg hidden-sm">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4>Top categories</h4>

                    <h5>Men</h5>

                    <ul>
                        <li>
                            <a href="#/category?t=tshirt">T-shirts</a>
                        </li>
                        <li>
                            <a href="#/category?t=shirts">Shirts</a>
                        </li>
                        <li>
                            <a href="#/category?t=accessories">Accessories</a>
                        </li>
                    </ul>

                    <h5>Ladies</h5>
                    <ul>
                        <li>
                            <a href="#/category?t=tshirt">T-shirts</a>
                        </li>
                        <li>
                            <a href="#/category?t=skirts">Skirts</a>
                        </li>
                        <li>
                            <a href="#/category?t=pants">Pants</a>
                        </li>
                        <li>
                            <a href="#/category?t=accessories">Accessories</a>
                        </li>
                    </ul>

                    <hr class="hidden-md hidden-lg">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4>Where to find us</h4>

                    <p>
                        <strong>Damorel Ltd.</strong>
                        <br>13/25 New Avenue
                        <br>New Heaven
                        <br>45Y 73J
                        <br>England
                        <br>
                        <strong>Great Britain</strong>
                    </p>

                    <a href="#/contact">Go to contact page</a>

                    <hr class="hidden-md hidden-lg">

                </div>
                <!-- /.col-md-3 -->



                <div class="col-md-3 col-sm-6">

                    <h4>Get the news</h4>

                    <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                    <form>
                        <div class="input-group">

                            <input type="text" class="form-control">

                            <span class="input-group-btn">

                                    <button class="btn btn-default" type="button">Subscribe!</button>

                                </span>

                        </div>
                        <!-- /input-group -->
                    </form>

                    <hr>

                    <h4>Stay in touch</h4>

                    <p class="social">
                        <a href="javascript;;" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                        <a href="javascript:;" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                        <a href="javascript:;" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                        <a href="javascript:;" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                        <a href="javascript:;" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                    </p>


                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#footer -->
    <!-- *** FOOTER END *** -->
    <!-- *** COPYRIGHT ***
        _________________________________________________________ -->
    <div id="copyright">
        <div class="container">
            <div class="col-md-6">
                <p class="pull-left">© 2015 Your name goes here.</p>

            </div>
            <div class="col-md-6">
                <p class="pull-right">
                    Designed by <a href="http://oduwoleoluwasegun.com"> Oduwole Oluwasegun </a></a>
                    <!-- Not removing these links is part of the licence conditions of the template. Thanks for understanding :) -->
                </p>
            </div>
        </div>
    </div>
    <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->
    <!-- *** SCRIPTS TO INCLUDE ***
    _________________________________________________________ -->

    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>

    <script src="js/owl.carousel.min.js"></script>
    <!--<script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>-->

    <script src="bower_components/angular/angular.min.js"></script>
    <!--<script src="scripts/angular.min.js"></script>-->
    <script src="scripts/angular-route.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>

    <script src="bower_components/v-button/dist/v-button.min.js"></script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>-->
    <script src="app/services/common.js"></script>
    <script src="app/services/logger.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/loading-bar.min.js"></script>
    <script src="bower_components/angularjs-crypto/public/js/lib/angularjs-crypto.js"></script>
    <script src="bower_components/angularjs-crypto/public/js/lib/angularjs-crypto.js"></script>
    <script src="bower_components/angularjs-crypto/public/js/lib/plugins/CryptoJSCipher.js"></script>
    <script src="scripts/aes.js"></script>
    <script src="scripts/mode-ecb.js"></script>




    <script src="bower_components/angularjs-crypto/public/js/lib/ContentHeaderCheck.js"></script>
    <script src="bower_components/angularjs-crypto/public/js/controllers.js"></script>
    <script src="scripts/toastr.min.js"></script>
    <script src="bower_components/angular-tour/dist/angular-tour-tpls.min.js"></script>
    <script src="bower_components/angular-downloader/src/js/angular-downloader.js"></script>

    <script src="scripts/shoppingcart/store.js"></script>
    <script src="scripts/shoppingcart/shoppingCart.js"></script>
    <script src="scripts/shoppingcart/product.js"></script>
    <script src="scripts/csvParser.js"></script>

    <script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
    <!-- Include the ngReCaptcha directive -->
    <script src="bower_components/angular-recaptcha/release/angular-recaptcha.min.js"></script>
    <script src="./angular-recaptcha.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!-- Load app main script -->
    <script src="app/app.js?v=2"></script>

    <script src="scripts/ng-tags-input.min.js"></script>

    <!-- Load services -->
    <script src="app/services/authInterceptorService.js?v=2"></script>
    <script src="app/services/authService.js?v=2"></script>
    <script src="app/services/ordersService.js?v=2"></script>
    <script src="app/services/tokensManagerService.js?v=2"></script>
    <script src="app/services/browser.js?v=2"></script>
    <script src="app/services/dashboardService.js?v=2"></script>
    <script src="app/services/modalService.js?v=2"></script>
    <script src="app/services/datasetsServices.js?v=2"></script>
    <script src="app/services/storesService.js?v=2"></script>
    <script src="app/services/transactionsService.js?v=2"></script>
    <script src="app/services/csvService.js?v=2"></script>
    <script src="app/services/doWorkerService.js?v=2"></script>
    <script src="app/services/notificationServices.js?v=2"></script>

    <!-- Load controllers -->
    <script src="app/controllers/indexController.js?v=2"></script>
    <script src="app/controllers/homeController.js?v=2"></script>
    <script src="app/controllers/loginController.js?v=2"></script>
    <script src="app/controllers/signupController.js?v=2"></script>
    <script src="app/controllers/ordersController.js?v=2"></script>
    <script src="app/controllers/refreshController.js?v=2"></script>
    <script src="app/controllers/tokensManagerController.js?v=2"></script>
    <script src="app/controllers/associateController.js?v=2"></script>
    <script src="app/controllers/confirmEmailController.js?v=2"></script>
    <script src="app/controllers/dashboardController.js?v=2"></script>
    <script src="app/controllers/accountsController.js?v=2"></script>
    <script src="app/controllers/error404.js?v=2"></script>
    <script src="app/controllers/UsersController.js?v=2"></script>
    <script src="app/controllers/storeController.js?v=2"></script>
    <!-- Load custom filters -->
    <script src="app/filters/gravatar.js"></script>
    <script src="app/filters/markdown.js"></script>
    <!-- Load custom directives -->
    <script src="app/directives/directives.js?v=2"></script>
    <script src="scripts/ng-file-upload-all.min.js"></script>

    <!--<script src="app/primes.js"></script>-->
    <script src="demoworker.js"></script>

    <!--<script src="js/creative.js"></script>
    <script src="js/jquery.lettering.js"></script>
    <script type="text/javascript" src="engine1/wowslider.js"></script>
    <script type="text/javascript" src="engine1/script.js"></script>
    <script src="js/bootstrap_carousel.js"></script>-->
</body>

</html>